<div class="ui pagination menu right floated" ng-if="numPages && pages.length >= 2">
    <a class="item" ng-click="selectPage(1)" aria-label="First">
        <span aria-hidden="true">first</span>
    </a>
    <a class="item" ng-click="selectPage(currentPage-1)" aria-label="Previous">
        <span aria-hidden="true">&larr;</span>
    </a>

    <a ng-repeat="page in pages" class="item" ng-class="{active: page==currentPage}" ng-click="selectPage(page)">{{page}}</a>

    <a class="item" ng-click="selectPage(currentPage+1)" aria-label="Next">
        <span aria-hidden="true">&rarr;</span>
    </a>
    <a class="item" href="" ng-click="selectPage(numPages)" aria-label="Last">
        <span aria-hidden="true">last</span>
    </a>
</div>