<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
        Error encounter on outlet <%=@outlet.name%>
    </h1>
    <p>
        Error code: <%=@code%>
    </p>
    <p>
        Error message: <%= @message %>
    </p>
  </body>
</html>