<div class="ui small icon input" ng-search="products">
  <input placeholder="Search..." type="text" id="search" ng-model="$root.search.q">
  <dropdown title="Filter" ng-model="$root.search.field" open="false" id="filter-select">
    <dropdown-group>Name</dropdown-group>
    <dropdown-group>Category</dropdown-group>
    <dropdown-group>Sub Category</dropdown-group>
    <dropdown-group>Tenant</dropdown-group>
  </dropdown>
  <button class="ui icon button search"><i class="search link icon"></i></button>
</div>